body {
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkorange;
    position: fixed;
    width: 1500px;
}

nav ul li {
    display: inline;
    margin-left: 30px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-weight: bolder;
}

.restaurant-image img {
    width: 100%;
    height: auto;
}

.pizza-specials {
    color: black;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: calc(33.33333% - 12px);
    margin-bottom: 0px;
}

.responsive .gallery {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.responsive .gallery img {
    width: 100%;
    height: auto;
}

.responsive .gallery .desc {
    padding: 15px;
    text-align: center;
}


#pic1, #pic2, #pic3
{
     transition: transform 2s ease
}
#pic1:hover {
    transform: rotate(360deg);
}

#pic2:hover {
    transform: scaleX(-1) rotateY(180deg);
}


#pic3:hover {
    transform: rotate(-360deg);
}


.contact-form {
    color: black;
    text-align: center;
    margin-top: 30px;
}

.form-container {
    background-color: white;
    display: inline-block;
    text-align: left;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
}

label, #boxes {
    color: gray;
}

#boxes {
    width: 280px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 280px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    background-color: darkorange;
    padding: 15px;
    font-size: 14px;
    margin: 0;
}


.set1
{
    margin-top: 50px;
    background-color: whitesmoke;
    padding-bottom: 150px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    padding: 20px;
    
}

.set2, .set3
{
    margin-top: 3px;
     background-color: whitesmoke;
    padding-bottom: 150px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    padding: 20px;
    
}


#Question1
{
    margin-top: 500px;
    color: black ;
    text-align: center;
}
#Question2
{
    margin-top: 10px;
    color: black ;
    text-align: center;
}

#Order
{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Order:hover
{
        background-color: #45a049;

}